form{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
   /* background-image: url(); */
    margin: 10px 10px;
    padding: 30px;
  
 }
.pay{
background-color: #71717134;
padding: 5px 20px 15px 20px;
border: 1px solid #f2f2f200;
border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
width:100%;
padding : 6px;
border : 1px solid rgba(40, 23, 97, 0);
}
.payhed{
color: rgb(255, 255, 255);
background-color: rgb(16, 40, 120);
text-align: center;
font-family: 'Poppins', sans-serif; ;
font-size: 10px;
width: 300px;
float: right;
}
input[type="button"]{
height: 45px;
width: 20%;
font-size: 20px;
color: rgb(255, 255, 255);
background-color: rgb(16,40,120);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
}
footer{
color: rgba(36, 34, 0, 0.223);
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
